body{
    padding: 0;
    margin:0;
    font-family: montserrat;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(2, 0, 20);

    
}

.menu{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(230, 230, 230);
    border-radius: 25px;
    width: 300px;

}
